body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("Mobile/Images/blue-bg.jpg");
  background-repeat: repeat-y;
  background-size: cover;
}

body > ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 50%;
  height: 50em;
}

body > ul > li {
  margin: 0;
  padding: 0;
  background: white;
  text-align: center;
  border: solid lightgrey 0.25em;
  margin: 1em auto;
}

body > ul > li > a{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 3em;
  color: black;
}

li:hover{
  border: solid lightblue 0.25em;
}
