body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("../Images/blue-bg.jpg");
  background-repeat: repeat-y;
  background-size: cover;
}

input {
  outline: none;
  font-size: 6em;
  padding: 0 5px;
  width: 100%;
  height: 20%;
  border: 0.2em solid grey;
  text-align: center;
  background-color: white;
}

button {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 3px 15px;
  color: white;
  line-height: 25px;
  background-color: #00bcd4;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  transition: all 150ms ease-in;
  outline: none;
}

button:hover {
    background-color: #79d7e4;
}

button.turn {
  color: rgb(255, 64, 129);
  background-color: white;
  box-shadow:none;
}

button.turn:hover {
  background-color: #eaeaea;
}

#PincodeForm {
  width: 80%;
  height: 70em;
  margin: 0 7.5%;
  position: absolute;
}

#PincodeForm > p {
  font-size: 5em;
}

#Submit {
  width: 75%;
  height: 20%;
  font-size: 5em;
  margin: 1em 12.5%;
}

#GameContent > h1 {
  margin: 0;
  text-align: center;
  width: 100%;
  font-size: 3em;
  background-image: url("../Images/darkerblue.jpg");
  color: white;
  padding: 0.2em;
  border-bottom: lightblue solid 0.2em;
}

#GameContent > div {
  display: none;
  width: 80%;
  height: 45em;
  background-color: white;
  margin: 0 4.5%;
  margin-top: 2em;
  font-size: 2em;
  radius: 1em;
  padding: 0 2em;
  padding-top: 2em;
}

#GameContent > div > input {
  margin: 0;
  width: 95%;
  font-size: 2.5em;
}

#GameContent > div > button {
  width: 80%;
  height: 4em;
  margin: 10%;
  font-size: 1.5em;
}

#GameContent > div > button:hover {
  background-color: lightblue;
}

#Awnsers {
  list-style: none;
  height: 20em;
  overflow-y: auto;
  padding: 0;
}

#Awnsers > li {
  font-size: 1.4em;
  padding: 1em 15px;
  color: white;
  line-height: 25px;
  background-color: #00bcd4;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  transition: all 150ms ease-in;
  outline: none;
  width: 95%;
  text-align: center;
  margin: 0.5em auto;
}
